<controls role="group">
  <!-- First -->
  <% if @pagy.page == 1 %>
    <a href="#" role="button" class="radius-0 turbo-native-hidden" disabled>First</a>
  <% else %>
    <%= link_to "First", notes_path + "?page=1", role: "button", class: "radius-0 turbo-native-hidden" %>
  <% end %>
  <!-- Previous -->
  <% if @pagy.page > 1 %>
    <%= link_to "Previous", notes_path + "?page=" + (@pagy.page - 1).to_s, role: "button", class: "radius-0" %>
  <% else %>
    <a href="#" role="button" class="radius-0" disabled>Previous</a>
  <% end %>
  <!-- Next -->
  <% if @pagy.page == @pagy.last %>
    <a href="#" role="button" class="radius-0" disabled>Next</a>
  <% else %>
    <%= link_to "Next", notes_path + "?page=" + (@pagy.page.next).to_s, role: "button", class: "radius-0" %>
  <% end %>
  <!-- Last -->
  <% if @pagy.page == @pagy.last %>
    <a href="#" role="button" class="radius-0 turbo-native-hidden" disabled>Last</a>
  <% else %>
    <%= link_to "Last", notes_path + "?page=" + (@pagy.last).to_s, role: "button", class: "radius-0 turbo-native-hidden" %>
  <% end %>
  <!-- New  -->
  <%= link_to "New", new_note_path, role: "button", class: "radius-0" %>
  <a href="<%= settings_path %>" role="button" class="radius-0">Settings</a>
</controls>
<div list>
  <% @notes.each do |note| %>
    <p>
      <img src="<%= "/uploads/#{note.id}.png" %>">
    </p>
  <% end %>
</div>
