<panel>
  <h2><%= t(".title") %></h2>
  <%= form_for @user do |form| %>
    <%= render partial: '/users/form', object: form %>
    <field>
      <%= form.submit %>
    </field>
    <field>
      <%= link_to t(".sign_in"), sign_in_path %>
    </field>
  <% end %>
</panel>
