<!DOCTYPE html>
<html>
  <head>
    <title>Scribble</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src='https://cdn.jsdelivr.net/npm/tesseract.js@5/dist/tesseract.min.js'></script>
  </head>
  <body class="<%= 'turbo-native' if native_app? %>">
    <main>
      <%= yield %>
    </main>
  </body>
</html>
